<%= simple_form_for @artwork do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <h2><%= f.input :title %></h2>
    <h2><%= f.input :date %></h2>
    <h2><%= f.input :author %></h2>
    <h2><%= f.input :description %></h2>
   <h2><%= f.input :image %></h2>
  </div>

  <div class="form-actions">
    <h2><%= f.button :submit %></h2>
  </div>
<% end %>