<p id="notice"><%= notice %></p>

<h1>Artworks</h1>

<table>
  
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Author</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>

        <div class="container">
          <img src="<%= artwork.image%>" alt="art" style="width:50%;">
            <div class="title"><%= artwork.title %></div>
        </div>


        <td><%= artwork.title %></td>
        <td><%= artwork.author %></td>
        <td><%= artwork.date %></td>
        <td><%= artwork.description %></td>
        <td><img src= "<%= artwork.image%>"max width=50%></td>
        <td><%= link_to 'Show', artwork %></td>
        <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artwork', new_artwork_path %>



