<p id="notice"><%= notice %></p>

<h1>Artworks</h1>

<table>
  
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Author</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span12">
    <% @artworks.each do |artwork| %>
      <tr>

          <div class="box">
           <div class="card">
              <div class="imgBx">
                <img src="<%= artwork.image%>" alt="images">
              </div>
                <div class="details">
                  <h2><%= artwork.title %><br><span><%= artwork.author %>, <%= artwork.date %>, <%= artwork.description %></span></h2>
                </div>
            </div>
          </div>

       


        <td><%= artwork.title %></td>
        <td><%= artwork.author %></td>
        <td><%= artwork.date %></td>
        <td><%= artwork.description %></td>
        <td><img src= "<%= artwork.image%>"max width=50%></td>
        <td><%= link_to 'Show', artwork %></td>
        <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artwork', new_artwork_path %>



