<p id="notice"><%= notice %></p>

<h1><%= @artwork.title %></h1>

<div class="card card-show" style="width: 30rem;">
  <img src="<%= @artwork.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><%= @artwork.description %>, <%= @artwork.date %> <h2><%= @artwork.author %></h2></p>
  </div>
</div>

  <div class="back">
    <h3><%= link_to 'Back', artworks_path %></h3>
  </div>

  <div class="edit">
    <h3><%= link_to 'Edit', edit_artwork_path(@artwork) %></h3>
  </div>
